body{
	background-image: url(http://www.publicdomainpictures.net/pictures/60000/velka/road-13813455026q6.jpg);
	background-repeat:  no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-size: cover;

	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: #3b3b3b;
}


h1,h2{
	font-family: "impact";
	font-weight: normal;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	color: #aaaaaa;
	text-align: center;
}

#header{
	width: 1000px;
	margin: 200px auto;
}


#logo h1{
	line-height: 150px;
	letter-spacing: -3px;
	font-size: 9.5em;
	padding: 30px 30px;
}

#threeColumns{
	overflow: hidden;
	width: 1000px;
	margin: 100px auto;
	padding: 30px 30px;
	background: rgba(255,255,255,0.3);
}

#threeColumns h2{
	padding: 0px 9px 20px 0px;
	font-size: 30px;
}

#threeColumns #column1{
	float: left;
	width: 300px;
	margin-right: 33px;
	text-align: justify;
}

#threeColumns #column2{
	float: left;
	width: 300px;
	margin-right: 33px;
	text-align: justify;
}

#threeColumns #column3{
	float: right;
	width: 300px;
	text-align: justify;
}